
body{
    margin: 0;
    padding: 0;
    background: #162831;
    padding-bottom: 30px;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
}

button{
    padding: 0;
}

h1,h2, h3,h6{
    margin: 0;
    
    font-size: unset;
}

p{
    margin: 0;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(../fonts/ProximaNova-Light.woff);
    font-weight: 300;
}

.contaner{
    max-width: 1296px;
    margin: 0 auto;
    padding: 0 70px;
}

.header__content{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
    border-bottom: 1px solid #FFFFFF;
}

.header__menu{
    height: 19px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 50px;
}

.header__item{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;

    color: #FFFFFF;
}

.header__button{
    width: 155px;
    height: 36px;
}

.header__button button{
    cursor: pointer;
    width: 155px;
    height: 36px;
    background: #018ABE;
    border-radius: 3px;
    border: none;

    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 140%;
    color: #FFFFFF;
}

.services{
    margin-top: 60px;
}

.title{
    position: relative;
    height: 59px;   
}

.title h2{
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 140%;

    text-align: center;

    color: #FFFFFF;

}

.title::before{
    position: absolute;
    content: url(../img/before-blue.svg);
    left: 350px;
    width: 28px;
    height: 14px;
    top: 25px;
}

.title::after{
    position: absolute;
    content: url(../img/after-blue.svg);
    right: 350px;
    width: 28px;
    height: 14px;
    top: 25px;
}

.services__content{
    margin-top: 60px;
    display: flex;
    gap: 134px;
    align-items: center;
}

.services__data{
    width: 72px;
    height: 19px;
    text-align: center;
    padding: 6px 12px 5px;

    background: #018ABE;
    border-radius: 5px;
}

.services__data span{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 135%;

    color: #FFFFFF;
}

.services__title{
    margin-top: 45px;
}

.services__title h3{
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;

    color: #FFFFFF;
}

.services__text{
    margin-top: 30px;
}

.services__text p{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;

    color: #FFFFFF;    
}

.footer{
    margin-top: 161px;
}

.footer__content{
    padding-top: 30px;
    border-top: 1px solid #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.footer__content span{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;

    color: #FFFFFF;
}

.footer__content span:last-child{
    font-weight: 700;
}